{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<p>
<h1> Our Mission </h1>
</p>

<p>
The fashion and textiles industry is the second largest contributor to greenhouse gas emissions in the world. It also has some of the lowest working
conditions and workers rights of any sector. 
<br>
Our aim is to highlight the environmental and ethical impact that different materials have. The process of manufacturing and transporting clothing and 
other items is complex, and it is almost impossible to trace materials from source all the way to the finished product. 
<br>
Instead, we have developed a colour coded system that gives a clear indication of the impact of an item. This will allow small business owners to label
their products quickly and with minimal information, and hence allow customers to shop in an eco-friendly manner. As our algorithm requires inputs 
that are easily found on clothing labels, customers may also check the impact of items that aren't colour-coded in less than 30 seconds.
</p>

<p>
<h1> Our Methods </h1>
</p>

<p>
The CO2 equivalent for each product is based off of the material, the distance it has travelled, and its weight. The values for each material are estimates, but do give a good indication of
which materials are more sustainable than others.
<br>
The ethical impact of each country was based on four measures: the minimum wage, the percentage of the population in a secure job, the corruption index, and the percentage of child workers
(under 14). We chose not to include factors such as GDP, as most of the time countries with low GDP rely on the fashion industry, and may have a good system of governance and 
adequate working conditions. For this reason, we also decided to give less weighting to the ethical considerations in the final impact.
<br>
These are combined to give a total impact on the planet and people. This impact is then divided by the mass of the product to give an overall impact per kg measure,
so that different garments may be compared. A simple traffic light system is attached to this value, to aid in visual clarity when shopping. Finally, the real cost
    of the garment was calculated, including the cost of carbon offsetting.
</p>

<p>
<h1> Meet The Team </h1>
</p>

<p>
    
Oliver Reed<br>
Kieran Dalton<br>
Anna Drummond Young<br>
Jamie Morley<br>

</p>

<p>

We are undergraduates in our 3rd year, studying Natural Sciences at the University of Cambridge. 
<br>
We chose to undertake this project because we all care deeply about the environment and strive towards a more sustainable future. This change is going to
have to include consumers and small businesses as well as big corporate companies. However, these smaller groups often don't have the recources or time to trace 
all of their products back to the source. This project aims to go some way towards solving this, by providing rough guidelines on the environmental impact of a product.

</p>
    
{% endblock %}
