{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<h1> Our Mission </h1>

<p>

The fashion and textiles industry is the second largest contributor to greenhouse gas emissions in the world. It also has some of the lowest working
conditions and workers rights of any sector. 
<br>
Our aim is to highlight the environmental and ethical impact that different materials have. The process of manufacturing and transporting clothing and 
other items is complex, and it is impossible to trace materials from source all the way to the finished product. 
<br>
Instead, we have developed a colour coding system that gives a clear indication of the impact of an item. This will allow small business owners to label
their products quickly and with minimal information, and hence allow customers to shop in an eco-friendly manner. As our algorithm requires inputs 
that are easily found on clothing labels, customers may also check the impact of items that aren't colour-coded in less than 30 seconds.

<p>

<h1> Meet The Team </h1>

<p>
    
Oliver Reed<br>
Kieran Dalton<br>
Anna Drummond Young<br>
Jamie Morley<br>

<p>

We are undergraduates in our 3rd year, studying Natural Sciences at the University of Cambridge. 
<br>
We chose to undertake this project because we all care deeply about the environment and strive towards a more sustainable future. This change is going to
have to include consumers and small businesses as well as big corperate companies. However, these groups often don't have the recources or time to trace 
all of their products back to the source. This project aims to go some way towards solving this, by providing rough guidelines on the impact of a product.
    
{% endblock %}
