{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}

<h1> Analytics </h1>

<br>
<p>
    Welcome to your analytics hub. Here you will find information on your finances and sustainability, and tips to help you succeed in the future.
</p>

<h3> Finance </h3>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">Mean Transaction</th>
			<th scope="col">Median Transaction</th>
			<th scope="col">Mode Transaction</th>
		</tr>
	</thead>
	<tbody>
		{% for item in analyticsdata[1] %}
			<tr>
			<td>{{item.mean}}</td>
			<td>{{item.median}}</td>
			<td>{{item.mode}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p> What this means: </p>

<ul>
{% if [analyticsdata][2][0] %}
	<li>Median is greater than Mean. This means your shop is operating well.</li>
{% elif analyticsdata[2][1] %}
  <li>Mean is greater than Median. This means you have a lot of small transactions, with a few customers spending a lot of money. Try to reduce the price of your more expensive items, to encourage the smaller customers to buy them.</li>
</ul>


<h3> Environmental </h3>
<p>
    In environmental, you can 
</p>


<h3> Tips for the Future </h3>

<p>
    <strong>1 - </strong> 
</p>

<p>
    <strong>2 - </strong>
</p>

<p>
    <strong>3 - </strong>
</p>

{% endblock %}
