{% extends "layout.html" %}

{% block title %}
    Analytics
{% endblock %}

{% block main %}

<h1> Analytics </h1>

<br>
<p>
    Welcome to your analytics hub. Here you will find information on your finances and sustainability, and tips to help you succeed in the future.
</p>

<h3> Finance </h3>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">Mean Transaction</th>
			<th scope="col">Median Transaction</th>
			<th scope="col">Mode Transaction</th>
		</tr>
	</thead>
	<tbody>
			<tr>
			<td>{{content['financialdata']['mean']}}</td>
			<td>{{content['financialdata']['median']}}</td>
			<td>{{content['financialdata']['mode']}}</td>
        </tr>
    </tbody>
</table>

<p> What this means: </p>

<ul>
{% if content['booleandata'][0] %}
	<li>Median is greater than Mean. This means your shop is operating well.</li>
{% elif content['booleandata'][1] %}
  <li>Mean is greater than Median. This means you have a lot of small transactions, with a few customers spending a lot of money. Try to reduce the price of your more expensive items, to encourage the smaller customers to buy them.</li>
{% endif %}
</ul>


<h3> Environmental </h3>
<p>
    In environmental, you can see a breakdown of factors which contribute to your overall score. Data on the CO2 eq. per kg and distance your products have travelled to get to you will be displayed, and so you may focus on areas to improve. When you have been with us for long enough, we'll be able to provide you with your personalised top tips on how to improve your score.
</p>


<h3> Tips for the Future </h3>

<p>
    <strong>1 - </strong> 
</p>

<p>
    <strong>2 - </strong>
</p>

<p>
    <strong>3 - </strong>
</p>


<h3>Inputs</h3>
<form action="/analytics" method="post">
  <label for="files">Select files to upload: </label>
  
      	<!-- upload multiple files -->
            <form method="post" enctype="multipart/form-data">
            <input type="file" name="my_file[]" multiple>
            <input type="submit" value="Upload">
        </form>
        <?php
            if (isset($_FILES['my_file'])) {
                $myFile = $_FILES['my_file'];
                $fileCount = count($myFile["name"]);

                for ($i = 0; $i < $fileCount; $i++) {
                    ?>
                        <p>File #<?= $i+1 ?>:</p>
                        <p>
                            Name: <?= $myFile["name"][$i] ?><br>
                            Temporary file: <?= $myFile["tmp_name"][$i] ?><br>
                            Type: <?= $myFile["type"][$i] ?><br>
                            Size: <?= $myFile["size"][$i] ?><br>
                            Error: <?= $myFile["error"][$i] ?><br>
                        </p>
                    <?php
                }
            }
        ?>
        

<!-- manual input form-->
  <form method="post">
    <div class="form-group">
    <input type="text" class="form-control" name="stockbill" placeholder="Stock cost">
    <!-- add the option to add more bills at once-->
    </div>
    
    <div class="form-group">
    <input class="form-control" type="date" name="billDate">
    </div>
     
    <div style="text-align.center">
    <input class="btn btn-primary"type="button" value="Submit" id="dynamicSubmit">
	<!-- NB use of button type rather than submit -->
		
    <!-- make this more convenient than reclicking "submit"-->
    
    </div>
    </form>

  <div>

    <font id="clickme">You have submitted: 0 times this session</font>

    
<script>

var target = document.getElementById("clickme"),
  count = 0;
target.onclick = function() {
  count += 1;
  target.innerHTML = "You have clicked: " + count + " times this session";
};
</script>
  </div>
  
{% endblock %}
