{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}

<head>
    <h1>Analytics</h1>
    
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>

 <body>
    <div class="column">
        <div class="row">
            <h2>Financial Analysis</h2>
            <p>Data..., analytics..., formula...</p>
        </div>
        <div class="row">
            <h2>Sustainable Analysis</h2>
            <p>Data..., analytics..., formula...</p>
        </div>
    </div>
 </body>

{% endblock %}
