{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
<h1> Contact Us </h1>

<p>
If you have any queries about our project, or wish to report any errors or issues you are having, please do not hesitate to get in touch.
</p>

<p>
	Telephone. : <span>12345678-90</span>
</p>
<p>
	Fax : <span>23456789-01</span>
</p>
<p>
	Email : <span>ask@ecothunder.com</span>
</p>
<p>
Or, you can drop us a message using the form below.
</p>
<form action="somewhere">
  <label for="email">Email address:</label>
  <input type="text" id="fname" name="fname" size="50"><br><br>
  <label for="query">Query:</label>
  <textarea name="message" rows="10" cols="30"><br><br>
  <input type="submit" value="Submit">
</form>


{% endblock %}
