    {% extends "layout.html" %}
    
    {% block title %}
    data
    {% endblock %}
    
    {% block main %}
    <p> Thank you for using our algorithm. Your scores were:<br>
    Tonnes of CO2 eq. = {{output1}} <br>
    Ethical Score (higher the better) = {{output2}} <br>
    Overall Impact (lower the better) = {{output3}} <br>
    Impact per kg = {{output4}} <br>
    Measure of cost effectivness of lowering your impact (the lower the better) = {{output5}} <br>
    </p>
    <p>
      Final Colour = <br><br>

	    <img src={{output6}} width="30%" alt="Colour Image">
			
    </p>
    {% endblock %}
