    {% extends "layout.html" %}
    
    {% block title %}
    data
    {% endblock %}
    
    {% block main %}
    <p> Thank you for using our algorithm. Your scores were:<br>
    Tonnes of CO2 eq. = {{output1}} <br>
    Ethical Score = {{output2}} <br>
    Overall Score = {{output3}} <br>
    Score per kg = {{output4}} <br>
    Score per kg per £ spent = {{output5}} <br>
    </p>
    <p>
      Final Colour = <br><br>

	    <img src={{output6}} width="30%" alt="Colour Image">
			
    </p>
    {% endblock %}
