{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

	<!-- not working as planned -->
	
	<div id="content">
		<div id="section">
			<div>
				<h1>Earth-friendly!</h1>
				<p>
					This is just a place holder, so you can see what the site would look like. 
				</p>
				<span><a class="first" href="index.html">How does it work</a> <a href="register.html">Register</a></span>
			<!-- check these links -->
			</div>
			<div id="figure">
				<img src="https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg" alt="Other test image"> <span></span>
			</div>
			<span class="background"></span>
		</div>
		
		<div id="featured">
			<ul>
				<li class="first">
					<img src="../images/tree-sunset.jpg" alt="Image of tree at sunset (left)">
					<span></span>
					<p>
						This is just a place holder, so you can see what the site would look like. 
					</p>
				</li>
				<li>
					<img src="http://jsm89.user.srcf.net/weinachten/media/house.jpg" alt="Image of house (middle)">
					<span></span>
					<p>
						This is just a place holder, so you can see what the site would look like. 
					</p>
				</li>
				<li>
					<img src="../images/tree-sunset.jpg" alt="Image of tree at sunset (right)">
					<span></span>
					<p>
						This is just a place holder, so you can see what the site would look like. 
					</p>
				</li>
			</ul>
		</div>
	</div>
	



{% endblock %}
