{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
	
	<div id="content">
		<div id="section">
			<div>
				<h1>Shop Eco-friendly!</h1>
				<p>
					Welcome to our project. Our aim is to provide a tool that allows both consumers, and small business providers,
					to assess the environmental and ethical impact of the items they are buying and selling. Please feel free to 
					explore the site.
					<br>
					Customers can use the 'customer test' form to check out the rating of products they find out and about. All you need 
					is the cost, weight, material and source, all things you can easily find on the label.
					<br>
					Businesses can sign in to add and view their products.
				</p>
			
			</div>
			<div id="figure">
				<img src="https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg" width="85%" alt="Other test image">
			</div>
			<span class="background"></span>
		</div>
		
		<div id="featured">
			<ul>
				<li class="first">
					<img src="http://jsm89.user.srcf.net/weinachten/media/cav.jpg" width="100%"alt="Image of cav (left)">
					<span></span>
					<p>
						This is just a place holder, so you can see what the site would look like. 
					</p>
				</li>
				<li>
					<img src="http://jsm89.user.srcf.net/weinachten/media/house.jpg" width="100%" alt="Image of house (middle)">
					<span></span>
					<p>
						This is just a place holder, so you can see what the site would look like. 
					</p>
				</li>
				<li>
					<img src="http://jsm89.user.srcf.net/weinachten/media/lensfield.jpg" width="100%"alt="Image of lensfield (right)">
					<span></span>
					<p>
						This is just a place holder, so you can see what the site would look like. 
					</p>
				</li>
			</ul>
		</div>
	</div>
	



{% endblock %}
