{% extends "layout.html" %}

{% block title %}
    Product Add Form
{% endblock %}

{% block main %}

<p>
<h1> Shop Green Rating </h1>
</p>

<p>
Please enter the origin country of your item of clothing, its cost and weight and the two majority materials it is made of, with their respective 
percentages. If it is only made of one material, enter 0 for the percentage of material 2.
We will then calculate how environmentally and ethically friendly your item is based on these factors. A colour coding system will be displayed.
</p>

<p>
  <form action="/data" method="post">
    Source country: <br>
    
    <select name="country">
                <option value="Australia">Australia</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="China">China</option>
                <option value="Eastern Europe">Eastern Europe</option>
                <option value="Ethipoia">Ethipoia</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Middle East">Middle East</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Phillipines">Phillipines</option>
                <option value="Russia">Russia</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Turkey">Turkey</option>
                <option value="United Kingdom">United Kindom</option>
                <option value="USA">United States of America</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Western Europe">Western Europe</option>
            </select><br>
    </p>
    <p>
    Material 1: <br>

     <select name="material1">
                <option value="Cotton">Cotton</option>
                <option value="Wool">Wool</option>
                <option value="Flax">Flax</option>
                <option value="Acrylic">Acrylic</option>
                <option value="Silk">Silk</option>
                <option value="Polyester">Polyester</option>
                <option value="Polyamide">Polyamide</option>
                <option value="Polyurethane">Polyurethane/Polypropylene</option>
                <option value="Viscose">Viscose</option>
            </select><br>
    </p>
    <p>
    Percentage material 1: <br><input type="text" name="percent1"><br>
    </p>
    <p>
    Material 2: <br>
   
     <select name="material2">
                <option value="Cotton">Cotton</option>
                <option value="Wool">Wool</option>
                <option value="Flax">Flax</option>
                <option value="Acrylic">Acrylic</option>
                <option value="Silk">Silk</option>
                <option value="Polyester">Polyester</option>
                <option value="Polyamide">Polyamide</option>
                <option value="Polyurethane">Polyurethane/Polypropylene</option>
                <option value="Viscose">Viscose</option>
            </select><br>
    </p>
    <p>
    Percentage material 2: <br><input type="text" name="percent2"><br>
    </p>
    <p>    
    Cost/£: <br><input type="text" name="cost"><br>
    </p>
    <p>
    Weight/kg: <br><input type="text" name="weight"><br>
    </p>
    <p>    
    <input type="submit" value="Submit">
</form>

</p>

<p>
Please be aware, the final colour coding may not be a complete representation of the items impact on people or the environment. The production and 
transport of clothing is a complex operation with many steps and unknowns.
</p>
{% endblock %}
