{% extends "layout.html" %}

{% block title %}
    Product Add Form
{% endblock %}

{% block main %}

<p>
<h1> Add Your Products to Your ShopGreen List</h1>
</p>

<p>
Please enter the origin country of your item of clothing, its cost and weight and the two majority materials it is made of, with their respective 
percentages. If it is only made of one material, enter 0 for the percentage of material 2.
We will then calculate how environmentally and ethically friendly your item is based on these factors.
An impact value of the clothing on the environment will then be displayed next to your item in your list. A colour will also be displayed, which indicates
the impact per kg of material, so you may compare differnet garments in your shop.
</p>

<p>
   <form action="/productadd" method="post">
    <br>
       <div class="form-group">
    <input class="form-control" type="text" name="productname" placeholder="Product Name">
    </div>
    <div class="form-group">
    <select class="form-control" name="country">
    			<option value="" disabled selected>Source country</option>
                <option value="Australia">Australia</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="China">China</option>
                <option value="Eastern Europe">Eastern Europe</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Middle East">Middle East</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Phillipines">Phillipines</option>
                <option value="Russia">Russia</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Turkey">Turkey</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="USA">United States of America</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Western Europe">Western Europe</option>     
            </select>
            </div>
    
    
    
    <div class="form-group">
     <select class="form-control" name="material1" placeholder="Material 1">
     			<option value="" disabled selected>Material 1</option>
                <option value="Cotton">Cotton</option>
                <option value="Wool">Wool</option>
                <option value="Flax">Flax</option>
                <option value="Acrylic">Acrylic</option>
                <option value="Silk">Silk</option>
                <option value="Polyester">Polyester</option>
                <option value="Polyamide">Polyamide</option>
                <option value="Polyurethane">Polyurethane/Polypropylene</option>
                <option value="Viscose">Viscose</option>
            </select>
	</div>
    
    <div class="form-group">
    <input class="form-control" type="text" name="percent1" placeholder="Percentage material 1">
    </div>
    
    <div class="form-group">
     <select class="form-control" name="material2">
     			<option value="" disabled selected>Material 2</option>
                <option value="Cotton">Cotton</option>
                <option value="Wool">Wool</option>
                <option value="Flax">Flax</option>
                <option value="Acrylic">Acrylic</option>
                <option value="Silk">Silk</option>
                <option value="Polyester">Polyester</option>
                <option value="Polyamide">Polyamide</option>
                <option value="Polyurethane">Polyurethane/Polypropylene</option>
                <option value="Viscose">Viscose</option>
            </select>
    </div>
    <div class="form-group">
    <input class="form-control" type="text" name="percent2" placeholder="Percentage material 2">
    </div>
    <div class="form-group">    
    <input class="form-control" type="text" name="cost" placeholder="Cost/£">
    </div>
    <div class="form-group">
    <input class="form-control" type="text" name="weight" placeholder="Weight/kg">
    </div>    
    <div style="text-align.center">
    <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>

</p>

<p>
Please be aware, the final colour coding may not be a complete representation of the items impact on people or the environment. The production and 
transport of clothing is a complex operation with many steps and unknowns.
</p>
{% endblock %}
