{% extends "layout.html" %}

{% block title %}
    Product List
{% endblock %}

{% block main %}
<h1> Product List </h1>

<p>

Below are the products you have saved

</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Country</th>
            <th scope="col">Major Material</th>
            <th scope="col">Percentage</th>
			<th scope="col">Minor Material</th>
			<th scope="col">Percentage</th>
			<th scope="col">Weight</th>
			<th scope="col">ShopGreen Score</th>
        </tr>
    </thead>
    <tbody>
        {% for item in product_list_display %}
        <tr>
            <td>{{item.productname}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.country}}</td>
            <td>{{item.material1}}</td>
            <td>{{item.percentage1}}</td>
			<td>{{item.material2}}</td>
            <td>{{item.percentage2}}</td>
			<td>{{item.weight}}</td>
			{% if {item.colour}=="Green" %}
				<td background-color: green >{{item.score}}</td>
			{% elif {item.colour}=="Red" %}
				<td background-color: red >{{item.score}}</td>
			{% elif {item.colour}=="Orange" %}
				<td background-color: red >{{item.score}}</td>
			{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
